* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Courier New", Courier, monospace;
}

.flex{
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

.container>* {
    margin: 5px 0;
}

.container {
    background-color: rgb(146, 239, 176);
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container label {
    font-weight: bold;
}

.input-field {
    display: flex;
    align-items: center;
    position: relative;
}

.input-field i {
    position: absolute;
    right: 12px;
    color: grey;
    cursor: pointer;
}

.length-field{
    width: 100%;
    max-width: 100%;
}

.input-field i:hover {
    color: black;
}

input {
    width: 100%;
    padding: min(0.5em, 5%);
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    letter-spacing: 2px;
}

.options input{
    width: 15px;
    height: 15px;
    padding: 0;
}

button {
    padding: 13px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    background-color: green;
}

button:active {
    transform: scale(.95);
}

.copyMsg {
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: -40px;
    right: 40px;
    opacity: 0;
    transition: bottom 0.2s ease, opacity 0.5s ease;
    z-index: 11;
}

footer{
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: blue;
}

@media screen and (max-width: 400px) {
    .container {
        padding: 15px;
        width: 280px;
    }

    h2 {
        font-size: 22px;
    }

    input {
        padding: 14px 10px;
        font-size: 16px;
    }

    button {
        padding: 12px 18px;
        font-size: 16px;
    }

    .input-field i {
        font-size: 25px;
    }
}